@import "tailwindcss";

:root {
  --color-earthy: #4B6B43;
  --color-terracotta: #D97D54;
  --color-beige: #F5F3EB;
  --color-sage: #A3B18A;
  --color-charcoal: #333333;
}

body {
  background-color: var(--color-beige);
  color: var(--color-charcoal);
}